<h2>My name is "Student's Name" and I am a Student</h2>

<p>Here is the schedule for my classes this sem:</p>
<ul>
	<li>
		<p>"Course #1" lectured by "Lecturer's Name"</p>
		<ul>
			<li>"Date for Class #1 for Course#1"</li>
			<li>"Date for Class #2 for Course#1"</li>
			<li>"Date for Class #3 for Course#1"</li>
		</ul>
	</li>
	
	<li>
		<p>"Course #2" lectured by "Lecturer's Name"</p>
		<ul>
			<li>"Date for Class #1 for Course#2"</li>
			<li>"Date for Class #2 for Course#2"</li>
			<li>"Date for Class #3 for Course#2"</li>
		</ul>
	</li>
</ul>

<br/>

<h2>My name is "Lecturer's name" and I am a Lecturer</h2>

<p>Here is the schedule for my classes this sem:</p>
<ul>
	<li>
		<p>"Course #1"</p>
		<ul>
			<li>"Date for Class #1 for Course#1"</li>
			<li>"Date for Class #2 for Course#1"</li>
			<li>"Date for Class #3 for Course#1"</li>
		</ul>
	</li>
	<br/>
	<li>
		<p>"Course #2"</p>
		<ul>
			<li>"Date for Class #1 for Course#2"</li>
			<li>"Date for Class #2 for Course#2"</li>
			<li>"Date for Class #3 for Course#2"</li>
		</ul>
	</li>
</ul>

<p>And here are my students:</p>
<ul>
	<li>
		<p>"Course #1"</p>
		<ul>
			<li>"Student's name"</li>
			<li>"Student's name"</li>
		</ul>
	</li>
	
	<li>
		<p>"Course #2"</p>
		<ul>
			<li>"Student's name"</li>
			<li>"Student's name"</li>
		</ul>
	</li>
</ul>
